@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/bg1.jpg") center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .begin-center{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:100vh;
    }
    img{
        height:200px;
    }
    a{
        padding:12px;
        font-size:large;
        color:white;
        background-color:#843b01;
        text-decoration:none;
        border-radius:8px;
    }
</style>

<div class="begin-center">
    <img src="images/home.png" />
    <a asp-page="/Admin/Index">Démarrer Ici</a>
</div>
